@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sofia&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Shadows Into Light", sans-serif;
}
body {
  background-color: #fffce8;
}

h1 {
  background-color: #3e363f;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 165px;
  width: 165px;
  border-radius: 50%;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choice:hover {
  opacity: 75%;
  cursor: pointer;
  background-color: #3e363f;
}

.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  gap: 5rem;
}

.userScore,
.botScore {
  font-size: 3rem;
}
.msgBox {
  margin-top: 5rem;
}

.msg {
  background-color: #3e363f;
  color: #fffce8;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
